/**body start**/
body{ margin:0px;
      padding:0px;
      font-family: 'Playfair Display', serif;
      font-size: 16px;
      font-weight:400;
      color: #626262;

}
 /**body end**/
 /**header start**/
header{padding:20px 0; 
      }
.container {margin:0px auto;
            width:90%;
            overflow: hidden;}
.logo{
      margin: 12px;
      width:11%;
      float:left;
      }
.logo img{width:100%;}

.menu ul{ float: right;}
.menu ul  li { list-style: none;
             float: left;}
.menu ul li a {margin:0 50px;
              padding:4px 1px 3px;
              color:#626262;
              text-decoration:none;
              text-transform: uppercase;
              transition: .3s;
              border-bottom:1px solid transparent;
              display:inline-block;}            
.menu ul li:last-child a { padding-right: 0;}
.menu ul li a:hover {border-bottom:1px solid #626262 ;}
/**header end**/
/**banner start**/ 
.b_img img{width:100%;}

/**banner end**/
/**perfect start**/
.perfect{padding:100px 0px;}
.container2{margin: 0 auto;
           width:80%;
         overflow: hidden;}
.p_content{}
.c_light{margin:0;
        font-family: 'Ubuntu', sans-serif;
        font-size:14px;
        font-weight:300;
        color:#b4ad9e;
        text-transform:uppercase;
       }
.c_h1{margin-top:20px ;
      margin-bottom:30px;
      font-size:30px;
      font-weight:400;}
.c_text{margin:0;
       line-height: 25px;}
.mb_40 {margin-bottom:40px;}
/**perfect end**/
/**blog start**/
.blog{padding-top:30px;
     padding-bottom:100px;}
.blogs{}
.single{margin-top: 70px;
       width:47%;
       float: left;}
.single:nth-child(even){margin-left:6%;}
.s_img{margin-bottom: 25px;}
.s_img img{width:100%;}
/**blog end**/
/**newsletter start**/
.newsletter {padding:100px 0px ;
            background-color: #efefef;}  
.container3{width:90%;
           margin:0 auto;
           text-align: center;}

.newsletter h2 {font-size: 30px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 125px;}
input {font-family:'Playfair Display', serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: capitalize;
        width: 40%;
        padding: 15px;
        border-bottom: 1px solid #000;
        background: transparent;
        position: relative;
}
.email .sendbtn {
    margin-left: -37px;
}
/**newsletter end**/
 /**blog2 start**/
 .loadmore{width: 15%;
         margin: 150px auto 60px;}
.loadmore .btn {
    font-family: "Playfair Display", serif;
    font-size: 20pt;
    padding:15px;
    border: 1px solid #616161;
    background-color: transparent;
    color: #333333;
    cursor: pointer;
    transition: 0.3s ease;}
/**blog2 end**/
/**footer start**/
.footer{ padding:30px 50px;
        background-color: #efefef;}
.container4{overflow:hidden;}
.terms{float: left;}
.terms ul li, .social_link ul li { list-style: none;
             float: left;
          font-size:14pt;
          color: black;
      margin:0 20px;}
.social_link ul li a {
              text-decoration:none;
              transition: .3s;
              border-bottom:1px solid transparent;
              display:inline-block;}            
.social_link ul li:last-child a { padding-right: 0;}
.social_link ul li a:hover {border-bottom:1px solid #626262 ;}
.social_link{float: right;}
/**footer end**/
@media screen and (max-width: 634px){
  .menu{width: 100%;
        float: left;}
    .logo {
    margin: 12px 20px;}
  .menu ul {float: left;
    padding-left: 0;}
    .menu ul li a {margin: 0 19px;}
  input{width:70%;}
  .link{margin-bottom:10px;}
  .single:nth-child(even){margin-left: 0px;}
.single{width: 100%;}
.terms {width: 100%; display: block;}
.social_link{width: 100%;}
.loadmore {width: 27%;}
.newsletter h2{margin-right: 51px;}
}
@media screen and (max-width: 434px){
    .loadmore {width:50%;}
    .footer{padding: 30px 0px;}
}
